# ------------------------------

# we print a simple confirmation to the terminal that we have started
echo "Starting job"

# the date and time this was run
date=$(date)

# the job id
jobid=${SLURM_JOB_ID}

# the job name
jobname=${SLURM_JOB_NAME}

# directory path for this task
goal_dir="{{ goal_dir_path }}"

# the directory with all of the input
inputdir=${goal_dir}/input
# directory to put job results in
jobsdir=${goal_dir}/jobs

# the directory for the output of this job
jobname=${jobid}_${jobname}
jobdir=${jobsdir}/${jobname}

# the directory output will be put into after completion
baseoutputdir=${jobdir}/output
outputdir=${baseoutputdir}

# if we are running an interactive job we want to write out the new
# outputs to another outputs folder
count=1
while [ -d "${outputdir}" ]; do
  outputdir="${baseoutputdir}$((count++))";
done

# log files
log=${jobdir}/log

# directory to execute code in
{% if exec_dir %}
execdir={{ exec_dir }}/${jobname}
{% else %}
execdir=${jobdir}
{% endif %}

# make these directories if they do not exist
mkdir -p ${jobdir}
mkdir -p ${execdir}

# Starting the LOG file

echo "* Starting Log file" &>> ${log}
echo ${date} &> ${log}
echo "----------------------------------------" &>> ${log}
echo ""   &>> ${log}

# print the paths for all the variables constructed in this script
echo "* Path Check" &>> ${log}

echo "" &>> ${log}
echo "LOG ${log}" &>> ${log}
echo "JOBID ${jobid}" &>> ${log}
echo "GOAL_DIR ${goal_dir}" &>> ${log}
echo "INPUTDIR ${inputdir}" &>> ${log}
echo "JOBSDIR ${jobsdir}" &>> ${log}
echo "JOBNAME ${jobname}" &>> ${log}
echo "JOBDIR ${jobdir}" &>> ${log}
echo "OUTPUTDIR ${outputdir}" &>> ${log}
echo "EXECDIR ${execdir}" &>> ${log}
echo ""  &>> ${log}

# saving SLURM environmental variables
echo "* SLURM Environmental Variables" &>> ${log}

echo ""   &>> ${log}
# SLURM env vars
echo "SLURM ENV:"  &>> ${log}
env | grep "SLURM"  &>> ${log}

# initial
echo "* Environment Initialization" &>> ${log}
echo ""  &>> ${log}
echo "----------------------------------------" &>> ${log}
echo "Initialization" &>> ${log}
echo "----------------------------------------" &>> ${log}

# load profile
echo "------------" &>> ${log}
echo "RUNNING: source /etc/profile" &>> ${log}
echo "------------" &>> ${log}
source /etc/profile &>> ${log}
echo "" &>> ${log}

# load hpcc modules
# echo "------------" &>> ${log}
# echo "RUNNING: source /opt/software/modulefiles/setup_modules.sh" &>> ${log}
# echo "------------" &>> ${log}
# source /opt/software/modulefiles/setup_modules.sh &>> ${log}
# echo "" &>> ${log}


# LMOD module load
echo "** Loading Modules" &>> ${log}
{% for mod in lmod_modules %}
echo "loading the module: {{ mod }}" &>> ${log}
module load {{ mod }} &>> ${log}
{% endfor %}
echo "" &>> ${log}


# set environmental variables and other local variables that are used for 
# many types of scripts
# ===============================================================================
echo "** Setting environmental variables"  &>> ${log}

{% for env_var in env_vars %}
echo "Exporting env var: {{ env_var[0] }}"
export {{ env_var[0] }}={{ env_var[1] }}
{% endfor %}

# print out the environmental variables after modifications
echo "** Environmental variables before execution:"  &>> ${log}
env &>> ${log}
echo ""   &>> ${log}

# ===============================================================================

echo "* Preparing Execution Directory" &>> ${log}
# remove current contents of the execdir, useful for if running
# interactive job which writes to same dir, harmless if not
echo "Removing existing files if they exist in EXECDIR: ${execdir}" &>> ${log}
rm -rf ${execdir}/* &>> ${log}
echo "" &>> ${log}

# copy the input files to the execution directory
echo "------------" &>> ${log}
echo "Copying input files from INPUTDIR: ${inputdir} to EXECDIR: ${execdir}" &>> ${log}
echo "------------" &>> ${log}
cp -rf ${inputdir}/* ${execdir}/ &>> ${log}
echo "" &>> ${log}

# copy the actual submission script used (a self operation)
echo "------------" &>> ${log}
echo "Copying submission script ${goal_dir}/${jobname} to EXECDIR: $execdir" &>> ${log}
echo "------------" &>> ${log}
cp "${0}" ${execdir}/ &>> ${log}
echo "" &>> ${log}

# copy the epilog if there is one
{% if epilog %}
epilog="{{ epilog }}"
echo "------------" &>> ${log}
echo "Copying epilog script ${epilog} to EXECDIR: ${execdir}" &>> ${log}
echo "------------" &>> ${log}
cp "${epilog}" ${execdir}/ &>> ${log}
echo "" &>> ${log}
{% else %}{% endif %}

# copy the task script if there is one
{% if task_script %}
task_script="{{ task_script }}"
echo "------------" &>> ${log}
echo "Copying the task script ${task_script} to EXECDIR: ${execdir}" &>> ${log}
echo "------------" &>> ${log}
cp "${task_script}" ${execdir}/ &>> ${log}
echo "" &>> ${log}
{% else %}{% endif %}


# change to the exec dir
echo "------------" &>> ${log}
echo "moving to EXECDIR: ${execdir}" &>> ${log}
echo "------------" &>> ${log}
cd ${execdir} &>> ${log}
echo "" &>> ${log}

# write file names in $execdir to log
echo "------------" &>> ${log}
echo "listing of EXECDIR: $execdir" &>> ${log}
echo "------------" &>> ${log}
ls ${execdir} &>> ${log}
echo "" &>> ${log}

