{{ slurm_job }}
{{ slurm_run }}

# ------------------------------

# we print a simple confirmation to the terminal that we have started
echo "Starting job script"

echo "Running the setup"

{{ setup }}

echo ""
# ===============================================================================


# ------------------------------
# The code for this script
# ===============================================================================

# we print a simple confirmation to the terminal that we are starting the main script
echo "Starting main script"

echo "* Script"
echo "------------"
echo "Running script"
echo "==============================================================================="

{{ payload }}


echo "==============================================================================="
echo "done with script"
echo "------------"
echo ""

# we print a simple confirmation to the terminal that we are starting the main script
echo "Finished main script"

# ===============================================================================

echo "starting the teardown process"

{{ teardown}}

echo "finished the teardown process"

echo "Exiting."